<mat-nav-list>
    <div class="profile_card text-center">
        <img src="https://www.pngkit.com/png/detail/281-2812821_user-account-management-logo-user-icon-png.png" alt="user">
        <div class="profile_name">
            <h3>User Name</h3>
        </div>
    </div>
    <mat-divider></mat-divider>
    
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dash/dash" > <mat-icon>dashboard</mat-icon> Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dash/user" > <mat-icon>people</mat-icon> Users</a>
    <mat-divider></mat-divider>
</mat-nav-list>