.input_1 {
    margin: .5rem 1rem;
}
.form_content {
    justify-content: center;
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: #ffffff;
}

.example-full-width {
    width: 100%;
}

::ng-deep .mat-select {
    width: 100%;
}